{% extends 'HzStoreBundle:Default:layout.html.twig' %}

{% block content_body %}
<div class="search-box">
<form action="{{ path('_customer_search')}}" method="post">
<input type="text" name="term" />
<input type="submit" name="submit" value="search" />
</form>
</div>
   <h3 class="content-sub-title">{{list_name}}</h3>

	<table class="content-table">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Suburb</th>
			<th>Company</th>
			<th>Action</th>
		</tr>
		{% for customer in customers %}
		<tr>
			<td>{{ customer.firstname }}</td>
			<td>{{ customer.lastname }}</td>
			<td>{{ customer.email }}</td>
			<td>{{ customer.phone }}</td>
			<td>{{ customer.suburb }}</td>
			<td>{{ customer.company }}</td>
			<td>
			<a href="{{ path('_customer_view', {'customer_id': customer.id }) }}">View</a>
			<a href="{{ path('_machine_add',{'customer_id': customer.id}) }}">New ticket</a>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}